.container {
    grid-area: action-button;
    display: flex;
    align-items: center;
    gap: 8px;
}

.quantity {
    color: color-mix(in srgb, var(--primary), 65% white);
    font-size: 1.25rem;
}

.btn {
    background-color: var(--primary);
    border-radius: 32px;
    padding: 1px;
}
