.container {
    grid-area: action-button;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    background-color: var(--primary);
    border-radius: 6px;
    box-shadow: 1px 1px 3px black;
    padding: 2px 8px;
}

.quantity {
    color: color-mix(in srgb, var(--primary), 65% white);
}
