.title {
    composes: title from "../Items/Items.module.css";
}

.items {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.status {
    composes: status from "../Items/Items.module.css";
}
