.title {
    composes: title from "../Items/Items.module.css";
}

.items {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.status {
    composes: status from "../Items/Items.module.css";
}

.total {
    font-size: 1.2rem;
    font-weight: 750;
}

.top-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
