.title {
    font-size: 2rem;
    font-weight: 600;
}

.status {
    text-align: center;
    font-weight: 150;
    font-size: 1.75rem;
}

.items {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, min(250px, 1fr));
    gap: 2rem 1rem;
}
