.title {
    font-size: 1.5rem;
    font-weight: 650;
    line-height: 1.75;
}

.status {
    font-weight: 150;
    font-size: 1.75rem;
}

.items {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 2rem 1rem;
}
