.title {
    font-size: 2.5rem;
    margin-top: 1rem;
    font-weight: 600;
}

.cta {
    font-size: 2rem;
    line-height: 1.5;
    font-weight: 550;
}

.highlighted {
    color: var(--secondary);
}

.hero {
    display: flex;
    justify-content: space-between;
}

.heroImage > img {
    max-width: 500px;
    border-radius: 16px;
    box-shadow: 2px 2px 12px black;
}

.p {
    max-width: 50ch;
    font-size: 1.1rem;
}
