.search {
    display: flex;
    gap: 8px;
    align-items: center;
}

.search-bar {
    background-color: var(--primary);
    border-radius: 16px;
    padding: 2px 4px;
    border: none;
    width: 100px;
    font-size: 1.2rem;
    transition: width 0.5s cubic-bezier(0.83, 0.01, 0.01, 0.96);
    &:focus {
        outline: 2px solid white;
        width: 250px;
    }
}

.btn:hover {
    color: var(--primary);
}

@media (width < 600px) {
    .search {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        > .search-bar {
            flex: 1;
        }

        > .btn {
            position: absolute;
            right: 12px;
        }
    }
}
