.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    gap: 2rem;
    background-color: var(--bg-color);
}

.title {
    font-size: 2rem;
    font-weight: 600;
}

.coloured {
    color: var(--secondary);
}

@media (width < 600px) {
    .header {
        margin-left: var(--mobile-margin);
        margin-right: var(--mobile-margin);
    }
}
