.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-top: 1rem;
    background-color: var(--bg-color);
}

.title {
    font-size: 2rem;
    font-weight: 600;
}
