.nav {
    list-style-type: none;
    display: flex;
    gap: 16px;
    align-items: center;
}

.nav-item {
    color: var(--text);

    &:hover {
        color: var(--secondary);
    }
}

.icon {
    color: var(--text);
}

.total {
    background-color: var(--secondary);
    border-radius: 32px;
    padding: 2px;
    font-size: 0.6rem;
}
