.nav {
    list-style-type: none;
    display: flex;
    gap: 16px;
    align-items: center;
}

.nav-item {
    color: var(--text);

    &:hover {
        color: var(--secondary);
    }
}

.icon,
.cart {
    color: var(--text);
}

.total {
    background-color: var(--secondary);
    border-radius: 32px;
    padding: 2px 4px;
    font-size: 0.7rem;
    position: absolute;
    right: -4px;
    bottom: -4px;
}

.cart {
    position: relative;
}
