.nav {
    list-style-type: none;
    display: flex;
    gap: 20px;
    align-items: center;
}

.total {
    background-color: var(--secondary);
    border-radius: 32px;
    padding: 2px 4px;
    font-size: 0.9rem;
    position: absolute;
    right: -4px;
    top: -8px;
}

.icon,
.cartLink {
    width: auto;
    height: 22px;
}

.cartLink {
    position: relative;
}

.currentPath {
    border-bottom: 4px solid oklch(0.6334 0.15 200.29);
    padding-bottom: 2px;
}
