.nav {
    list-style-type: none;
    display: flex;
    gap: 16px;
    align-items: center;
}

.nav-item {
    color: var(--text);

    &:hover {
        color: var(--secondary-color);
    }
}

.icon {
    color: var(--text);
}
