.error {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    gap: 1rem;
    align-items: center;
}

.status {
    font-weight: 600;
    font-size: 3rem;
}

.message {
    font-size: 2.5rem;
}
