.add-to-cart {
    border: none;
    background-color: var(--primary);
    font-size: 1rem;
    padding: 2px;
    border-left: 6px solid color-mix(in srgb, var(--secondary), 10% blue);
    border-radius: 6px;
    box-shadow: 1px 1px 1px black;

    transition: transform 0.25s ease-in-out;
    &:hover {
        transform: scale(1.1) translateY(-2px);
    }
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    border-left: 6px solid color-mix(in srgb, var(--secondary), 40% lightgreen);
    gap: 4px;
    background-color: color-mix(in srgb, var(--primary), 20% lightgreen);
    width: 100%;
}

.back {
    transition: transform 1s ease-in-out;
}

.back:hover {
    transform: rotate(0.5turn);
}
