:root {
    --bg-color: #061e29;
    --primary: #1d546d;
    --secondary: #5f9598;
    --text: #f3f4f4;
    --mobile-margin: 16px;
}

:root,
* {
    font-family: "Roboto", sans-serif;
    color: var(--text);
}

body {
    background-color: #061e29;
    display: flex;
    justify-content: center;
}

#root {
    flex: 1;
    min-height: 100vh;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    flex: 1;
    padding: 2rem 0;
}

main,
header {
    max-width: 1600px;
    width: 100%;
}

button {
    cursor: pointer;
}

.lucide-button {
    background: none;
    line-height: 0;
    border: none;
    padding: 0;
    margin: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    max-width: 24px;
}

@media (width < 600px) {
    main {
        margin-left: var(--mobile-margin);
        margin-right: var(--mobile-margin);
    }

    main,
    header {
        width: auto;
    }

    #root {
        align-items: stretch;
    }
}
