:root {
    --bg-color: #061e29;
    --primary: #1d546d;
    --secondary: #5f9598;
    --text: #f3f4f4;
}

:root,
* {
    font-family: "Roboto", sans-serif;
    color: var(--text);
}

body {
    background-color: #061e29;
    display: flex;
    justify-content: center;
}

#root {
    max-width: 1600px;
    flex: 1;
    padding: 0px 100px;
    min-height: 100vh;
}

button {
    cursor: pointer;
}

.lucide-button {
    background: none;
    line-height: 0;
    border: none;
    padding: 0;
    margin: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    max-width: 24px;
}

main {
    padding: 2rem 0;
}
